* {
    border:0;
    margin:0 auto;
    padding:0;
}

ul#menu {
    position:fixed;
    clear:both;
    list-style:none; 
    width: 100%;
}

ul#menu li {
    background-color:black;
    padding-bottom: 0px;
    float:left;
    width: 25%;
}

ul#menu li a {
    display: block;
    border-right: 3px solid lightgrey;
}

.active {
        background-color: grey;
}

li a{   
    color:white;
    background-color:transparent;
    text-decoration:none;
} 

li a:visited{
    color:white;
    background-color:transparent;
    text-decoration:none;   
} 

body{
    background-image:url("images for CV/me.jpg");
    color:white;
    font-family:courier;
    font-size:45px;
}

.center{
    background-color:rgba(0,0,0,0.7);
    width:500px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.itemLast{
    border-right:none;
}

li{
    text-align:center;
}

p{
    padding-top:10PX;
    text-align:center;
    background-color:rgba(0,0,0,0.7);
}

.circle{
    width: 400px;
    height: 400px;
        padding-top:0px;
    border-radius: 300px;
        box-shadow: 0 0 0 15px rgba(255,255,255,0.7);

 
    border: 15px solid rgba(0, 0,0, 0.7);
    background-position:30%;
    background-size:100%;
    background-repeat:no-repeat;
    background-image:url("images for CV/me3.jpg");
    margin: 0 auto;	
}

div#grow img:hover{
    transform: scale(1.25);
}

h2{
    padding-top:100PX;
    text-align:center;
}

.weblist{
    padding-left: 50px;
    text-align:center;
}

.info{
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.7);
    padding-left:100px; text-align:left;
    list-style-type:circle;
}

div{
    padding-top:100px;
    text-align:center;
}

.awards{
    border-radius:167px;
    border:20px solid rgb(198,154,24);
    width:600px;
    height:800px;
}


.gallery{
    border-radius:167px;
    border:50px solid grey;
    width:800px;
    height:600px;
}

li a:hover.item {
    color:White;
    background-color:grey;
    text-decoration:underline;
}


li a:hover.webpage {
    color:White;
    background-color:grey;
    text-decoration:underline;
    
    
}
td {
    font-family:courier;
    font-size:25px;  
}

table tr td img:hover{
    transform: scale(1.25);
}

div table{ 
    background-color:rgba(0, 0, 0, 0.7);
    margin:0 auto;
}

td {
    text-align:center;
    font-family:courier;
    font-size:45px;
    padding-left:50px;
    padding-top:50px;	
}

th{
    padding:50px
}

table{
    border:60px solid rgba(0, 0, 0, 0.7);	
    border-radius:100px;
}
h4{
    text-align:center; 
    background-color: rgba(0, 0, 0, 0.7);
}
.star{
    height:38px;
    width:200px;
}

.button{
    height:80px;
    width:200px; 
    font-weight:bold;
    margin-left:500px;
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    border:2px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px
}
.button2{
    height:80px;
    width:200px; 
    font-weight:bold;
    padding: 10px;
    color:white;
    background-color: rgba(0   , 0, 0, 0.7);	
   
}   